footer{
    width: 100%;
    height: 350px;
    background-color: #1b3c59;

    #footer-container{
        width: 80%;
        margin: auto;
        height: 370px;

        #footer-top{
            width: 100%;
            height: 200px;
            border-bottom: 2px solid white;

            #parte-sinistra{
                width: 50%;
                padding-top: 50px;
                float: left;

                img{
                    width: 200px;
                    max-width: 100%;
                }

                .tre-righe{
                    font-size: 15px;
                    margin: 0;
                    margin-bottom: 0;
                    color: white;
                }
            }

            #parte-destra{
                width: 49%;
                padding-top: 50px;
                float: right;

                ul{
                    list-style: none;
                    text-align: end;
                    font-weight: 600;
                    font-size: 22px;

                    li a{
                        color: white;
                    }
                }
            }
        }
        #footer-bottom{
            padding-top: 40px;

            #contenitore-icone{
                width: 40%;
                margin: auto;
                display: flex;
                justify-content: space-around;

                i{
                    color: white;
                    font-size: 37px;
                }
            }
        }
    }
}
